@font-face {
  font-family: specialFont;
  src: url('./numbers.ttf')
}

body {
  font-size: 10px;
  font-family: specialFont; 
  background: #2C3E50;
  background-size: cover;
}

.main-section {
  background: transparent;
  width: 1200px;
  height: 600px;
  margin: 20px auto;
}

.clock-holder {
  width: 100%;
  border-radius: 60px;
  background: cornflowerblue;
  margin: 10px auto;
  position: relative;
}

.header {
  font-size: 40px;
}

.table-center {
  width: 600px;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #C85454;
}

td, th {
  border: 2px solid black; 
}

.stopwatch {
  padding: 10px 0px;
  font-size: 40px;
  text-align: center;

}

.span-stopwatch {
  background:#00ABA9;
  color: #fff;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  margin-left: 12px;
  margin-right: 12px;
}

.stopwatch-btn {
  background: #cfcfcf;
  margin: 40px auto;
  padding: 40px 10px;
  font-size: 60px;
  font-family: specialFont;
  border-radius: 15px;
  width: 400px;
  cursor: pointer;
  border: 2px solid black;
}

.stopwatch-btn-red {
  color: #C85454;
}

.stopwatch-btn-yel {
  color: #FFC900;
}

.stopwatch-btn-blue {
  color: #00ABA9;
}

.table-timer {
  font-family: monospace;
  font-size: 16px;
  padding-top: 100px;
}

.p-error{
  text-align: center;
}